<h1>Hello World from index!</h1>

<!-- 
<%= 1 + 1 %><br />

<% target = "world" %>
<%= "Hello #{target}" %>

<br />
	
<% 3.times do |n| %>
  <%= n %><br />
<% end %>

-->

<a href="/demo/hello">Hello page 1</a><br />
<%= link_to('Hello page 2', {:action => 'hello'}) %><br />

<%= link_to('Hello with parameters', {:action => 'hello', :page => 5, :id => 20}) %><br />