<h1>Welcome to Alfred Homepage</h1>

<p>Today is a challenging day</p>

<!--
<%= 3+4 %><br>
-->

<!--
<% name = "Media Corp Website" %>
-->

<%= "Hi, #{@name} on #{@web}" %> <br>
<p> Click this link below<br><p>

<%= link_to("#{@name}","http://mediacorp.com.sg")  %><br>
<%= link_to("Hello",{:action => 'hello'}) %><br>

<% subject = Subject.create(:name => "Economy",:position => 4,:visible => true) %>

<% subjects = Subject.where(:visible => true) %>

<ul>
<% subjects.each do |subject| %>
<li><%=   subject.name %></li>
<% end %> 
</ul>


<!--
<p>Goto <a href="http://mediacorp.com.sg">Media Corp Website</a> </p>
-->

<!--
<% @fruits.each do |fruit| %>
<%= fruit %>
<% end %>
-->

<!--
<% a = [] %>
<% for i in 1..10 %>
<% a.push(i) %>
<% end %>
<%= a %>
-->